
<div class="home">
    <form class="username_form" action="/user" method="POST">
    <p>Enter your username</p>
        <input type="text" name="login" placeholder="login" id="login" />
        <input type="submit" value="Enter username" />
    </form>
</div>
<style>
    .home {
        margin: 20px auto;
        width: 200px;
    }

    .username_form {
        display: inline-flex;
        flex-direction: column;
        background: linear-gradient(#e66465, #9198e5);
        padding: 20px;
        border: 1px black solid;
        align-items : center;
        border-radius: 20px;
    }

    .username_form > p {
        margin:5px;
    }

    .username_form>input {
        margin: 10px;
        padding: 5px;
        text-align: center;
    }
</style>