<div class="wrapper">
      <div>
        <canvas class="canvas1" width="400" height="400"> </canvas>
      </div>
      <div>
        <canvas class="animation-canvas" width="400" height="100"></canvas>
      </div>
    </div>